<header class="cover-container masthead mb-auto">
  <div class="inner">
    <a class="navbar-brand logo" href="/"><img src="/Assets/images/my_logo.png" alt="Muksud's portfolio" height="auto"
      width="150em" style="margin-top: -15px;"></a>
    <nav class="nav nav-masthead justify-content-center">
      <% if (title=="Home" ){ %>
        <a class="nav-link active" href="/home"><i class="fas fa-home"></i> Home</a>
        <% } else { %>
          <a class="nav-link" href="/home"><i class="fas fa-home"></i> Home</a>
          <% } %>
            <% if (title=="About Me" ){ %>
              <a class="nav-link active" href="/about"><i class="fas fa-user-alt"></i> About Me</a>
              <% } else { %>
                <a class="nav-link" href="/about"><i class="fas fa-user-alt"></i> About Me</a>
                <% } %>
                  <% if (title=="Projects" ){ %>
                    <a class="nav-link active" href="/projects"><i class="fas fa-project-diagram"></i> Projects</a>
                    <% } else { %>
                      <a class="nav-link" href="/projects"><i class="fas fa-project-diagram"></i> Projects</a>
                      <% } %>
                        <% if (title=="Services" ){ %>
                          <a class="nav-link active" href="/services"><i class="fas fa-cog"></i> Services</a>
                          <% } else { %>
                            <a class="nav-link" href="/services"><i class="fas fa-cog"></i> Services</a>
                            <% } %>
                              <% if (title=="Contact" ){ %>
                                <a class="nav-link active" href="/contact"><i class="fas fa-id-card"></i> Contact Me</a>
                                <% } else { %>
                                  <a class="nav-link" href="/contact"><i class="fas fa-id-card"></i> Contact Me</a>
                                  <% } %>
    </nav>
  </div>
</header>